::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

.painel-senhas {
  padding: 50px;
  background: #FAFBFF;
}

.quadardo {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.quadradoSenha {
  width: 862px;
  height: 924px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.relogio {
  margin-bottom: 40px;
}
