@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.quadradoLogin {
    width: 427.74px;
    height: 539.77px;
    border-radius: 20.37px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logoLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoLogin h3 {
    font-family: "Poppins", sans-serif;
    font-size: 41px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: center;
}

.inputLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10.18px;
}

.quadradoLogin input {
    width: 336.08px;
    height: 56.01px;
    border-radius: 101.84px;
    border: 3.06px solid #333333;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}

.botaoLogin button {
    width: 136px;
    height: 61px;
    border-radius: 101.84px;
    gap: 10px;
    background-color: #022B3A;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
}