.logoMenu {
    display: flex;
    align-items: center;
}

.logoMenu img {
    width: 25.76px;
    height: 21.9px;
    padding: 12px;
}

.logoMenu h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27.05px;
    font-weight: 700;
    line-height: 31.1px;
    text-align: left;
    color: #022B3A;
    height: 31px;
}

nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #E1E5F2;
    height: 80px;
}

a img {
    width: 26px;
    height: 26px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 874px;
    height: 26px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration:none;
    color: #000000CC;
}