.login {
    background-image: url(../../assets/images/Fundo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
}

.subQuadradoLogin {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.imagemBaixo img {
    width: 100vw;
    display: flex;
}

.cabesalhoLogin {
    display: flex;
    flex-direction: column;
}

.tituloLogin {
    width: 309px;
    height: 227px;
    color: #FFFFFF;
}

.tituloLogin h1::first-line {
    font-family: Poppins;
    font-size: 59px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
}

.tituloLogin h1 {
    font-family: Poppins;
    font-size: 112px;
    font-weight: 700;
    line-height: 134.12px;
    letter-spacing: 0em;
    text-align: left;
}

.cabesalhoLogin {
    gap: 45px;
}

.cabesalhoLogin h2 {
    width: 665.03px;
    height: 136px;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}