@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.qualdardo {
    width: 862px;
    height: 124px;
    padding: 20px, 40px;
    border-radius: 40px;
    gap: 46px;
    background: #FFFCFC;
    box-shadow: 0px 6px 31px -6px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qualdardo p {
    width: auto;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
}

@media (max-height: 865px) {
    .qualdardo {
        height: 99px;
        width: 689px;
    }

    .qualdardo p {
        font-size: 56px;
    }
}


