@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.quadradoRecentes {
  width: 378px;
  height: 924px;
  padding: 30px 15px;
  border-radius: 40px;
  background: #FFFCFC;
  box-shadow: 0px 6px 31px -6px #00000040;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quadradoRecentes h1 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;

}

.senhasAnteriores {
  width: 314px;
  height: 758px;
  border-radius: 20px;
  border: 0.2px solid #000000;
  overflow: hidden;
  overflow-y: auto;
}

@media (max-height: 900px) {
  .quadradoRecentes {
    width: 302px;
    height: 739px;
  }

  .senhasAnteriores {
    width: 251px;
    height: 606px;
  }

  .quadradoRecentes h1 {
    font-size: 24px;
  }
}