@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.quadradoFundo {
    width: 862px;
    height: 698px;
    border-radius: 40px;
    gap: 36px;
    background: #FFFCFC;
    box-shadow: 0px 6px 31px -6px #00000040;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 760px;
    height: 99px;
    padding: 17px, 88px, 17px, 88px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h2 {
    width: 561px;
    height: 65px;
    font-size: 54px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
}

.informacoes {
    width: 739.62px;
    height: 473.83px;
    padding: 84.31px, 50px;
    border-radius: 21.08px;
    gap: 13.7px;
    background: #E1E5F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.senha {
    width: 165px;
    height: 145.75px;
    gap: 23.75px;
    padding: 13px;
}

.localDeAtendimento {
    width: 571px;
    height: 145.75px;
    gap: 23.75px;
}

h3 {
    font-size: 53px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: center;
}

.informacoes p {
    font-size: 48px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: center;
}

@media (max-height: 900px) {
    .quadradoFundo {
        height: 558px;
        width: 689px;
    }

    .informacoes {
        height: auto;
        width: auto;
    }

    .logo h2 {
        font-size: 43px;
        text-align: center;
    }

    h3 {
        font-size: 42px;
    }

    .informacoes p {
        font-size: 38px;
    }
  }

