.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo desfocado */
    z-index: 1000; /* Garante que o modal esteja na frente de tudo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    width: 540px;
    height: 265px;
    gap: 70px;
    border-radius: 16px;
    opacity: 0px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner2 {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
}

.cima h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
}

.meio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meio h2 {
    font-family: Inter;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.41px;
    text-align: center;
}

.baixo {
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner3 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continuar {
    width: 100%;
    height: 44px;
    padding: 8px 20px 8px 20px;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid rgba(51, 51, 51, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    background: rgba(2, 43, 58, 1);
    color: rgba(250, 250, 250, 1);
    transition: all 0.3s ease;
}

.continuar:hover {
    cursor: pointer;
    transform: scale(1.05); /* Aumenta um pouco o tamanho */
}

/* Animação para quando o botão é clicado */
.continuar:active {
    transform: scale(0.95); /* Reduz um pouco o tamanho */
}