@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo desfocado */
    z-index: 1000; /* Garante que o modal esteja na frente de tudo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    width: 540px;
    height: 592.55px;
    gap: 70px;
    border-radius: 16px;
    opacity: 0px;
    background: white;
}

.conteiner2 {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
}

.cima h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

.meio {
    width: 398px;
    height: 288.55px;
    gap: 62.19px;
    opacity: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.meioImfo {
    width: 100%;
}

.meio p {
    font-family: Inter;
    font-size: 17.41px;
    font-weight: 700;
    line-height: 24.88px;
    text-align: left;
}

.meioImfo input {
    width: 100%;
    height: 50px;
    border: 1.24px solid rgba(224, 224, 224, 1);
    box-shadow: 0px 1.24px 2.49px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-family: Inter;
    font-size: 19.9px;
    font-weight: 400;
    line-height: 29.85px;
    text-align: left;
}

.baixo {
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.conteiner3 {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancelar {
    width: 134px;
    height: 44px;
    padding: 8px 20px 8px 20px;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid rgba(51, 51, 51, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    transition: all 0.3s ease;
}

.comfirmar {
    width: 134px;
    height: 44px;
    padding: 8px 20px 8px 20px;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid rgba(51, 51, 51, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    background: rgba(2, 43, 58, 1);
    color: rgba(250, 250, 250, 1);
    transition: all 0.3s ease;

}

/* Animação para quando o mouse passa por cima */
.cancelar:hover {
    cursor: pointer;
    transform: scale(1.05); /* Aumenta um pouco o tamanho */
}

/* Animação para quando o botão é clicado */
.cancelar:active {
    transform: scale(0.95); /* Reduz um pouco o tamanho */
}

/* Animação para quando o mouse passa por cima */
.comfirmar:hover {
    cursor: pointer;
    transform: scale(1.05); /* Aumenta um pouco o tamanho */
}

/* Animação para quando o botão é clicado */
.comfirmar:active {
    transform: scale(0.95); /* Reduz um pouco o tamanho */
}

